@using PagedList;
@using PagedList.Mvc;

@*@model IdentityTest2.Models.Category*@
@model IPagedList<IdentityTest2.Models.News1>

@{
    ViewBag.Title = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //IEnumerable<IdentityTest2.Models.News1> newsList = Model.News1.ToList().OrderByDescending(s => s.newsTime).OrderByDescending(s => s.newsDate);
}

<h2>@ViewBag.Message</h2>
<div class= "userProfile_outerContainer"></div>
<table class="table">
    
    @foreach (var news in Model)
    {
        int id = news.Category.categoryId;
        <tr>
            <td>
                @if (news.picUrl == "")
                {
                    <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
                }
                else {
                    <img src="@Html.DisplayFor(modelItem => news.picUrl) " style="width:200px;height:128px;">
                }
            </td>
            <td>
                @Html.ActionLink(news.newsTitle, "Details", new { id = news.newsId })

            </td>
            <td>
                @*@Html.DisplayFor(modelItem => news.newsDate)*@
                @Html.DisplayFor(modelItem => news.crawlTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => news.Source.sourceName)
            </td>
            <td>
                @if (ViewBag.user_id != 0)
                {
                    @Html.Action("Like", "News1", new { id = news.newsId })
                }
                @*@Html.DisplayFor(modelItem => item.numOfLikes)*@
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.newsId }) |
        @Html.ActionLink("Edit", "Edit", new { id=item.newsId }) |
    @Html.ActionLink("Delete", "Delete", new { id = news.newsId })*@
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Category",  new { categoryId = ViewContext.ViewBag.categoryId,page }))
