@model IdentityTest2.Models.News1

@{
    ViewBag.Title = "Details";
}

<h4>@Html.DisplayFor(model => model.Category.categoryName)</h4>

<div>
    <h2><a href="@Html.DisplayFor(model => model.origUrl) ">@Html.DisplayFor(model => model.newsTitle)</a></h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @*@Html.DisplayNameFor(model => model.newsDate)*@
            Date:
        </dt>

        <dd>
            @Html.Partial("ShortDateTime")
        </dd>

        <dt>
            Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newsTime)
        </dd>
        @if (Model.author != "")
        {
            <dt>
                Author:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>
        }
        @if (Model.picUrl != "")
        {
            <dt>
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.picUrl) " style="width:300px;height:228px;">
            </dd>
        }
        else {
            <dt>
            </dt>
            <dd>
                <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
            </dd>
        }
        <dt>
            Source:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source.sourceName)
        </dd>
        <dt>
        </dt>
        <dd>
            @if (ViewBag.Message == null)
            {
                @*@Html.Partial("AddSubscription")*@
                using (Html.BeginForm("AddSubscription", "News1", new { id = Model.newsId }, FormMethod.Post, null))
                {

                    @Html.AntiForgeryToken()
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Subscribe" class="btn btn-primary active" />
                    </div>
                }
            }
            else {
                @*<button type="button" disabled="disabled">Subscribed</button>*@
                using (Html.BeginForm("UnSubscription", "News1", new { id = Model.newsId }, FormMethod.Post, null))
                {

                    @Html.AntiForgeryToken()
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="UnSubscribe" class="btn btn-default" />

                    </div>

                }
            }

        </dd>
        <dt>
            Content:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.newsContent)
        </dd>
        <dt>
            Orignial Link :
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.origUrl) ">@Html.DisplayFor(model => model.origUrl)</a>
        </dd>
        @if (Model.crawlTime != null)
        {
            <dt>
                crawlTime:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.crawlTime)
            </dd>
        }
        @*<dt>
            @Html.DisplayNameFor(model => model.numOfClicks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfClicks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfLikes)
        </dd>*@

    </dl>
</div>

@*@Html.ActionLink("See all comments", "CommentForNews", "Comments", new { id = Model.newsId }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.newsId }) |

    @Html.ActionLink("Back to List", "Category", new { categoryId = Model.categoryId })*@
@Html.Partial("Like")
<p>

    @Html.ActionLink("Back to List", "Category", new { categoryId = Model.categoryId })
</p>
<p>
    @Html.Action("CommentForNews", "Comment1", new { id = Model.newsId })
</p>