@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IdentityTest2.Models.News1>


@{
    ViewBag.Title = "Index";
}

<h2>News</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.picUrl == "")
                {
                    <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
                }
                else {
                    <img src="@Html.DisplayFor(modelItem => item.picUrl) " style="width:200px;height:128px;">
                }

            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.uniqueTitle)
                </td>*@
            <td>
                @Html.ActionLink(item.newsTitle, "Details", new { id = item.newsId })
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.newsDate)*@
                @Html.DisplayFor(modelItem => item.newsTime)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.newsTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.origUrl)
                </td>*@

            @*<td>
                    @Html.DisplayFor(modelItem => item.newsContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numOfClicks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numOfLikes)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source.sourceName)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.newsId }) |
                    @Html.ActionLink("Edit", "Edit", new { id=item.newsId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.newsId })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model,page=> Url.Action("Index", new { page }))