@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IdentityTest2.Models.News1>
@*@model IEnumerable<IdentityTest2.Models.News1>*@

@{
    ViewBag.Title = "RecommendToYou";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<h2>RecommendToYou</h2>*@
@if (ViewBag.Message != null)
{
    <h3>
        @ViewBag.Message;
    </h3>
    <table class="table">

        @foreach (var news in Model)
        {
            <tr>
                <td>
                    @if (news.picUrl == "")
                    {
                        <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
                    }
                    else {
                        <img src="@Html.DisplayFor(modelItem => news.picUrl) " style="width:200px;height:128px;">
                    }
                </td>
                <td>
                    @Html.ActionLink(news.newsTitle, "Details", new { id = news.newsId })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => news.crawlTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => news.Source.sourceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => news.Category.categoryName)
                </td>
                <td>
                    @if (ViewBag.user_id != 0)
                    {
                        @Html.Action("Like", "News1", new { id = news.newsId })
                    }
                </td>

            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("RecommendToYou", new { page }))
}
