@model IdentityTest2.Models.Comment1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Comment1</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.postTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.postTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.commentContent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.commentContent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isDisplayed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isDisplayed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numOfComentLikes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numOfComentLikes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.News1.uniqueTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.News1.uniqueTitle)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.commentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
