@model IEnumerable<IdentityTest2.Models.Comment1>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.postTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDisplayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numOfComentLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News1.uniqueTitle)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.postTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDisplayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numOfComentLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.News1.uniqueTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.commentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.commentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.commentId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
