@*@model IEnumerable<IdentityTest2.Models.ApplicationUser>*@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IdentityTest2.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.message</h2>

<table class="table">

    @foreach (var user in Model)
    {
      
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                
                @*<td>
                    @if (user.UserPhoto == null)
                {
                        <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
                    }
                    else
                    {
                        <img src="@Html.DisplayFor(modelItem => user.UserPhoto) " style="width:200px;height:128px;">
                    }

                </td>*@
                
            </tr>
        }

    
</table>
    
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))