@*@model IEnumerable<IdentityTest2.Models.UserRoles>*@
@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@model IPagedList<IdentityTest2.Models.UserRoles>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h2>@ViewBag.message</h2>





<table class="table">

    @foreach (var user in Model)
    {

        <tr>
            <td>
                @if (user.userphoto == null)
                {
                    <img src="~/Content/Images/kapy_logo.png" style="width:200px;height:128px;">
                }
                else
                {
                    <img src="@Html.DisplayFor(modelItem => user.userphoto) " style="width:200px;height:128px;">
                }

            </td>

            @*<td>
                @Html.DisplayFor(modelItem => user.username)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => user.email)
            </td>


            <td>

                @foreach (var role in user.role_names) {
                    @role;
                }
            </td>



        </tr>
    }


</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


