@model IdentityTest2.Models.AspNetUser_Source

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspNetUser_Source</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subscribeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subscribeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source.sourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source.sourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usersourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
